/* Home */

.slider_home {
    width: 900px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: inline-block;
    margin: 10px 25px 10px 25px;
    text-align: center;
}

.Instant_Consultation,
.Book_of_Appointment,
.Self_Checkup,
.Help_Tips_and_Guidance {
    width: 170px;
    height: fit-content;
    display: block;
}

@media (max-width: 768px) {
    .container_home {
        width: 90%;
        margin: 100px auto;
        overflow: auto;
    }

    .slider_home {
        overflow-y: auto;
        margin: auto;
        overflow: auto;
    }

}