.search_input {
    background-color: rgb(196, 255, 242);
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 80%;
    height: 100%;
    padding-left: 15px;
    outline: none;
}

.search_button{
    background-color: rgb(255, 0, 230);
    cursor: pointer;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;   
    margin-right: -9px;
}