<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="container_appointments">
        <div class="content_appointments">
            <div class="search_doctors">
                <h1>Find a doctor at your own ease</h1>
                <h2>Search doctors by speciality</h2>
                <a href=""><img src="./clip-medical-consultation-online.gif" alt="Search doctors"></a>
                <a href=""><img src="./sammy-shield-medical-protection.gif" alt="Shield"></a>
                <form action="">
                    <input type="search" class="search" placeholder="Search...">
                    <button type="submit" class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                </div>
                </div>
                </div>
</body>
</html>