/* LandingPage */

body {
    background-image: url("../img/Banner_médico.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

/* .container_landing_page {
    background-image: url("../img/Banner_médico.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
} */

.container_landing-page {
    margin-top: 90px;
    padding: 10px 80px 10px 80px;
}

.your_health {
    padding-top: 10px;
    text-shadow: black 0px 0px 1em;
}

.our_responsibility {
    color: blueviolet;
    text-shadow: black 0px 0px 1em;
}

.content_text_landing-page {
    text-align: center;
    line-height: 20px;
}

.content_text_landing-page p {
    width: auto;
    padding: 15px 0px 10px 0px;
    text-align: justify;
    font-weight: bolder;
    font-size: x-large;
    color: rgb(0, 0, 0);
    font-style: oblique;
    text-shadow: rgb(92, 82, 82) 1px 1px 1em, black 0px 0px 1em, rgb(255, 255, 255) 0px 0px 1em;
}

.btn_get_started {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    margin-bottom: 25px;
}

.btn_get_started:hover {
    background-color: aquamarine;
}

@media (max-width: 768px) {

    .container_landing-page {
        margin-top: 60px;
        padding: 10px 25px 10px 25px;
        /* background-color: aquamarine; */
    }

    .content_text_landing-page p {
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 280px) and (max-width: 430px) {
    body {
        background-image: url("../img/Ejemplo320x1000.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
}

@media (min-width: 431px) and (max-width: 650px) {
    body {
        background-image: url("../img/Ejemplo450x950.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
}

@media (min-width: 651px) and (max-width: 768px) {
    body {
        background-image: url("../img/Ejemplo850x1200.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
}