.reviewsPage_container {
    margin: 90px 20px;
    text-align: center;
}

.ag-theme-quartz-dark {
    --ag-foreground-color: rgb(126, 46, 132) !important;
    --ag-background-color: rgba(201, 184, 110, 0.683) !important;
    --ag-header-foreground-color: rgb(204, 245, 172) !important;
    --ag-header-background-color: rgba(209, 64, 129, 0.905) !important;
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03) !important;
    --ag-header-column-resize-handle-color: rgb(126, 46, 132) !important;
    --ag-border-color: rgb(126, 46, 132) !important;
    --ag-font-size: 12px !important;
    /* --ag-font-family: monospace !important; */
    height: 400px;
    width: 90%;
    margin: auto;
    z-index: -1;
}


