/* SignUp */

.container_signup {
    background-color: rgba(127, 255, 212, 0.384);
    width: 300px;
    height: 450px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    
}

.sign_up_grid {
    display: block;
}

/* Role */

.selected_div {
    text-align: center;
    margin: 5px;
}

.h1_register {
    margin: 0;
}

.role_register {
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 2px;
}

.sign_up_text {
    text-align: center;
    padding-bottom: -10px;
}

/* ____________________________________________________ */


.btn_signup {
    border-radius: 5px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
}

.btn_group_signup {
    text-align: center;
}

.btn_primary {
    background-color: green;
}

.btn_danger {
    background-color: red;
}

@media (max-width: 768px) {
    .container_signup {
        background-color: rgba(127, 255, 212, 0.384);
        width: 300px;
        height: 450px;
        margin: 70px auto;
        /* margin-top: 300px; */
    }
}

